@model IEnumerable<CategoryVM>

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient mt-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Category List</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row pb-3">
            <div class="col-6">
            </div>
            <div class="col-6 text-end">
                <a asp-controller="Categories" asp-action="Upsert" class="btn btn-primary">
                    <i class="bi bi-plus-circle"></i> Create New Category
                </a>
            </div>
        </div>

        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th style="width:10%; text-align:center">Category ID</th>
                    <th style="width:10%; text-align:center">Category Name</th>
                    <th style="width:15%; text-align:center">Actions</th>
                </tr>
            </thead>
            <tbody id="tableBody">
                <!-- Data will be loaded via AJAX -->
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script src="~/js/CategoryList.js"></script>
}